/*Navbar*/

.navbar {
    background-color: #000;
    display: flex;
    /*justify-content: space-between;*/
}

.navbar-item {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
}

.logoutButton {
    margin: 5px 10px 5px 0;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.logoutButton a {
    text-decoration: none;
    color: black;
}

.bordered-active {
    border-bottom: 3px solid #fff;
}

.logo {
    width: 4%;
    margin: 15px;
}


/*Home*/

.adminicon {
    width: 15rem;
    margin-top: 120px;
    border-radius: 115px;
}

.homeButton {
    align-items: center;
    background-color: black;
    width: 18%;
    padding: 15px;
    margin-top: 55px;
    font-size: large;
    border-radius: 15px;
    border: none;
}

.homeButton a {
    text-decoration: none;
    color: white;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



/*Create Account*/

body {
    height: 100%;
}

.createAccount_header {
    margin-top: 40px;
    text-align: center;
}

.signUp_wrapper {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.colOne {
    display: flex;
    flex-direction: column;
    margin: 20px 75px;
}

.colTwo {
    display: flex;
    flex-direction: column;
    margin: 20px 75px;
}

.star {
    color: #ff0000;
}

.signUp_textBox {
    margin: 20px 0;
    padding: 8px;
    border-radius: 15px;
    border: lightgray 2px solid;
    width: 150%;
}

.below_textBox {
    text-align: center;
}

.createAccount_btn {
    border-radius: 20px;
    border: none;
    padding: 15px;
    margin: 15px;
    background-color: #000;
    width: 15%;
    font-size: 16px;
}

.createAccount_btn a {
    text-decoration: none;
    color: white;
}


/* item styling */


.item_container {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

/*h5 {*/
/*    display: flex;*/
/*    color: rgb(10, 10, 10);*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/


.menu_container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 50px 120px 20px 80px;
}

.menuTitle{
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: black;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menuCard{
    box-shadow: 10px 10px;
    width: 450px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    margin: 15px 15px;
    position: relative;
    bottom: 25px;
    display: flex;
    justify-content: space-between;

}

.card_descrip, .card_cost, .card_header{
    font-family: 'Poppins', sans-serif;
}

.card_descrip{
    font-style: italic;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.card_header{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

/*.setTime{*/
/*    margin-top: 180px;*/
/*}*/


.deleteButton{
    margin-top: 10px;
}

.addButton{
    padding: 10px;
    border: none;
    color: #fff;
    background-color: #000;
    margin: 20px;
    border-radius: 15px;
    width: 15%;
}

/*Profile*/

.textField{
    margin: 20px;
}
.profileText{
    width: 30%;
}
.updateButton{
    border: none;
    padding: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
    border-radius: 15px;
}
.editText{
    width: 80%;
}

/*Create Account*/

.createAccount_divTF{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;

}
.createAccount_textField{
    width: 20%;
    display: block;
    margin: 20px;

}
.createAccount_fields{
    text-align: center;
}
.selectRole{
    width: 20%;
}
.accountPage {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.scrollUo{
    position: relative;
    right: 50%;
    bottom: 40px;
    height: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    cursor: pointer;

}

@media screen
and (min-width: 1200px)
and (max-width: 1600px) {
    .meals_container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /*overflow-y: auto;*/
        bottom: 90px;
    }
}